<main>
  <h1>โควิด คืออะไร</h1>
  <p>
    โควิด-19 (COVID-19) เป็นโรคที่เกิดจากไวรัสโคโรนา (Coronavirus) ชนิดหนึ่งที่มีชื่อว่า SARS-CoV-2
    ไวรัสนี้ถูกค้นพบครั้งแรกในเมืองอู่ฮั่น ประเทศจีนในปลายปี 2019 และแพร่ระบาดไปทั่วโลกอย่างรวดเร็ว
    จนกลายเป็นการระบาดใหญ่ (Pandemic) องค์การอนามัยโลก (WHO) ประกาศให้ COVID-19 เป็นภาวะการระบาดใหญ่ในเดือนมีนาคม 2020
  </p>

  <h3>
    ลักษณะของไวรัสและการแพร่ระบาด:
  </h3>
  <ul>
    <li class="m-3">
      ไวรัสโคโรนา เป็นกลุ่มของไวรัสที่มีลักษณะเป็นขดเป็นวงกลม และมีหนามแหลมที่ล้อมรอบ
      ทำให้มันสามารถเกาะติดและเข้าสู่เซลล์ของมนุษย์ได้
    </li>
    <li class="m-3">
      การแพร่ระบาด ส่วนใหญ่เกิดขึ้นผ่านการสัมผัสกับละอองฝอยจากการไอ จาม หรือการพูดคุยของผู้ที่ติดเชื้อ
      ละอองฝอยเหล่านี้สามารถตกลงสู่พื้นผิวต่างๆ และสามารถแพร่กระจายต่อผ่านการสัมผัสพื้นผิวนั้นแล้วสัมผัสหน้าหรือปาก
    </li>
  </ul>

  <h3>
    อาการของ COVID-19:
  </h3>
  <ul>
    <li class="m-3">
        อาการที่พบได้บ่อย: ไข้ ไอแห้ง เหนื่อยล้า
    </li>
    <li class="m-3">
        อาการที่พบได้บ้าง: ปวดเมื่อย เจ็บคอ ท้องเสีย ปวดหัว สูญเสียการรับรู้รสชาติหรือกลิ่น ผื่นขึ้นที่ผิวหนัง หรือเปลี่ยนสีของนิ้วมือหรือนิ้วเท้า
    </li>
    <li class="m-3">
        อาการรุนแรง: หายใจลำบากหรือหายใจถี่ เจ็บหน้าอก รู้สึกอึดอัด สับสน สูญเสียการเคลื่อนไหวหรือการพูด
    </li>
  </ul>
</main>

